@{
    ViewData["Title"] = "Assign Role";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@using WebUI.Areas.Admin.Models
@model List<RoleAssignViewModel>


<h1>Assign Role</h1>

<form method="post" class="form">
    @for (var i = 0; i < Model.Count; i++)
    {
        <div class="form-check">
            <input hidden type="text" value="@Model[i].RoleId" name="@($"Model[{i}].RoleId")" id="@($"Model[{i}].RoleId")" />
            <input hidden type="text" value="@Model[i].Name" name="@($"Model[{i}].Name")" id="@($"Model[{i}].Name")" />
            <input type="checkbox" name="@($"Model[{i}].Exist")" id="@($"Model[{i}].Exist")" class="form-check-input" />
            <script>
                function abc() {
                    let i = @i.ToString();
                    let str = 'input[name="Model[' + i + '].Exist"]';
                    $(str).attr('checked', @Model[i].Exist.ToString().ToLower());
                    //debugger;
                }
                abc();
            </script>
            <label class="form-check-label" for="@Model[i].Exist">@Model[i].Name</label>
        </div>
    }
    <button id="btn" class="btn">Save</button>
</form>

<a href="/admin/adminrole/userrolelist" class="btn">User List</a>

<script>
    $('#btn').on('click', function () {
        event.preventDefault();
        debugger;
        $.Post()
    });
</script>
