@{
    ViewData["Title"] = "GetBLogByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<Blog>

<div class="container">
    <div class="row h1">Your Blogs</div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Title </th>
                    <th> Date </th>
                    <th> Category </th>
                    <th> Status </th>
                    <th class="text-center"> Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.Id </td>
                        <td> @item.BlogTitle </td>
                        <td> @item.CreatedDate </td>
                        <td> @item.Category.CategoryName </td>
                        <td> @(String.IsNullOrEmpty(@item.BlogContent) ? "No Content" : @item.BlogContent.Substring(0, 30))... </td>
                        <td>
                            <a class="btn btn-warning btn-sm" href="/blog/blogadd/@item.Id">update</a>
                            <a class="btn btn-danger btn-sm" href="/blog/blogdelete/@item.Id">delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <a class="btn btn-info" href="/blog/blogadd">Add</a>
        </div>
    </div>
</div>
