
@{
    ViewData["Title"] = "GetBLogByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
@using EntityLayer.Concrete
@model List<Blog>

<h1>Your Blogs</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Date</th>
            <th>Category</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BlogId</td>
                <td>@item.BlogTitle</td>
                <td>@item.BlogCreateDate</td>
                <td>@item.Category.CategoryName</td>
                <td>@(String.IsNullOrEmpty(@item.BlogContent) ? "No Content" : @item.BlogContent.Substring(0, 30))...</td>
                <td>
                    <a class="btn btn-warning" href="/blog/blogadd/@item.BlogId">update</a>
                    <a class="btn btn-danger" href="#">delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-info" href="/blog/blogadd">Add</a>

